ACCESS_TOKEN_SECRET=hgjsjdhgh876878768aDHJHAD
ACCESS_TOKEN_EXPIRY=2h

MONGODB_URL=YOUR MONGODB DATABASE URL

PORT=2229

CORS_ORIGIN=*

CLOUDINARY_CLOUD_NAME=YOUR CLOUDINARY CLOUD NAME
CLOUDINARY_API_KEY=YOUR CLOUDINARY API KEY
CLOUDINARY_API_SECRET=YOUR CLOUDINARY API SECRET